.profile-mask {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__mobile-head-wrapper {
        display: flex;

        @media (min-width: 992px) {
            flex-direction: column;
        }
    }

    &__col {
        width: 100%;
    }

    &__col_w_35 {
        @media (min-width: 992px) {
            width: 34%;
            flex-direction: column;
        }
    }

    &__col_w_65 {
        @media (min-width: 992px) {
            width: 64%;
        }
    }

    &__photo {
        width: 35%;
        margin-right: 15px;

        @media (min-width: 992px) {
            width: 100%;
            margin-right: 0;
        }
    }

    &__photo-img {
        width: 100%;
    }

    &__nav {
        display: flex;
        flex-direction: column;
    }

    &__nav-item {}

    &__nav-link {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #363636;
        padding: 10px 30px;
        transition: all .5s;

        &:hover {
            background: rgba(18, 211, 206, 0.2);
            color: #363636;
        }

        &--icon {
            width: 24px;
            height: 24px;
            margin-right: 15px;
        }

        &--num {
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #0FB2AE;
            display: block;
            margin-left: 10px;
        }
    }

    &__nav-link.active {
        background: rgba(18, 211, 206, 0.2);
    }

    &__chief-nav {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        margin-top: 25px;
        border-top: 1px solid rgba(151, 151, 151, 0.4);
    }

    &__chief-nav-link {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #363636;
        padding: 10px 30px;
        transition: all .5s;

        &:hover {
            background: rgba(18, 211, 206, 0.2);
            color: #363636;
        }

        &--icon {
            width: 24px;
            height: 24px;
            margin-right: 15px;
        }

        &--num {
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #0FB2AE;
            display: block;
            margin-left: 10px;
        }
    }

    &__chief-nav-link.active {
        background: rgba(18, 211, 206, 0.2);
    }

    &__head {
        display: flex;
        justify-content: space-between;
    }

    &__head-item {}

    &__head-name {
        font-family: $Playfair;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #0B0A0A;

        @media (min-width: 992px) {
            font-size: 18px;
        }
    }

    &__head-rate {
        &--icon {
            width: 14px;
            height: 14px;

            @media (min-width: 768px) {
                width: 24px;
                height: 24px;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;

        @media (min-width: 992px) {
            padding-top: 30px;
            padding-bottom: 20px;
            border-bottom: 2px solid #F5F5F5;
        }
    }

    &__list-wgt {
        display: flex;
        padding-bottom: 10px;
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: row;
        }
    }

    &__list-headline {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #363636;
        padding-right: 20px;
        min-width: 180px;
        max-width: 230px;
    }

    &__list-desc {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #363636;
    }

    &__title {
        font-family: $Playfair;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.04em;
        color: #363636;
        padding-top: 20px;
        padding-bottom: 20px;

        @media (min-width: 992px) {
            font-size: 22px;
        }
    }

    &__filter {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 5px;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #363636;
        margin-right: 15px;
    }

    &__filter-btn {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #097B79;
        background: rgba(18, 211, 206, 0.1);
        border-radius: 15px;
        padding: 5px 15px;
        margin-right: 15px;
        transition: all .5s;

        &:hover {
            color: #FFFFFF;
            background: #12D3CE;
        }
    }

    &__filter-btn.active {

        color: #FFFFFF !important;
        background: #12D3CE !important;
    }
}



.mask-search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;

    @media (min-width: 992px) {
        padding-bottom: 0;
        margin-right: 15px;
    }

    &__field {
        width: 100%;
        padding-bottom: 15px;

        @media (min-width: 992px) {
            width: 40%;
            padding-bottom: 0;
            margin-right: 15px;
        }
    }

    &__field-form {
        border-bottom: 1px solid rgba(151, 151, 151, 0.4);
        display: flex;
        align-items: center;
    }

    &__field-btn {
        background: transparent;
        padding: 5px;
        margin-right: 5px;

        &--icon {
            width: 18px;
            height: 18px;
        }
    }

    &__field-input {
        padding: 5px;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: #8D9396;
    }

    &__field-input::-webkit-input-placeholder {
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: #8D9396;
    }

    &__filter {}

    &__filter-btn {
        font-weight: normal;
        background: transparent;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: #8D9396;

        &--icon {
            width: 20px;
            height: 20px;
        }
    }
}