.profile-mask {
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__mobile-head-wrapper {
        display: flex;

        @media (min-width: 992px) {
            flex-direction: column;
        }
    }

    &__col {
        width: 100%;
    }

    &__col_w_35 {
        @media (min-width: 992px) {
            width: 34%;
            flex-direction: column;
        }
    }

    &__col_w_65 {
        @media (min-width: 992px) {
            width: 64%;
        }
    }

    &__photo {
        width: 35%;
        margin-right: 15px;
        position: relative;
        line-height: 0;

        @media (min-width: 992px) {
            width: 100%;
            margin-right: 0;
        }
    }

    &__photo-img {
        max-width: 100%;
        height: auto;
        border-radius: 15px;
    }

    &__photo-editing-input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    &__photo-editing {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(50, 50, 50, 0.6), rgba(50, 50, 50, 0.6));
        ;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        cursor: pointer;
    }

    &__photo-editing span {
        z-index: 999;
        font-weight: normal;
        font-size: 40px;
        line-height: 28px;
        letter-spacing: 0.01em;
        color: #FFFFFF;

        @media (min-width: 768px) {
            font-size: 74px;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
    }

    &__nav-item {}

    &__nav-open-link,
    &__nav-link {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #363636;
        padding: 10px 30px;
        transition: all .5s;

        &:hover {
            background: rgba(18, 211, 206, 0.2);
            color: #363636;
        }

        &--icon {
            width: 24px;
            height: 24px;
            margin-right: 15px;
        }

        &--num {
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #0FB2AE;
            display: block;
            margin-left: 10px;
        }
    }

    &__nav-open-link {
        justify-content: center;
    }

    &__nav-link.active {
        background: rgba(18, 211, 206, 0.2);
    }

    &__nav-open-link,
    &__nav-link.active {
        background: rgba(18, 211, 206, 0.2);
    }

    &__chief-nav {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        margin-top: 25px;
        border-top: 1px solid rgba(151, 151, 151, 0.4);
    }

    &__chief-nav-link {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #363636;
        padding: 10px 30px;
        transition: all .5s;

        &:hover {
            background: rgba(18, 211, 206, 0.2);
            color: #363636;
        }

        &--icon {
            width: 24px;
            height: 24px;
            margin-right: 15px;
        }

        &--num {
            font-weight: 500;
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #0FB2AE;
            display: block;
            margin-left: 10px;
        }
    }

    &__chief-nav-link.active {
        background: rgba(18, 211, 206, 0.2);
    }

    &__head {
        display: flex;
        justify-content: space-between;
    }

    &__head-item {}

    &__head-name {
        font-family: $Playfair;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.02em;
        color: #0B0A0A;

        @media (min-width: 992px) {
            font-size: 18px;
        }
    }

    &__head-rate {
        &--icon {
            width: 14px;
            height: 14px;

            @media (min-width: 768px) {
                width: 24px;
                height: 24px;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;

        @media (min-width: 992px) {
            padding-top: 30px;
            padding-bottom: 20px;
            border-bottom: 2px solid #F5F5F5;
        }
    }

    &__list-wgt {
        display: flex;
        padding-bottom: 10px;
        flex-direction: column;

        @media (min-width: 768px) {
            flex-direction: row;
        }
    }

    &__list-wgt_column {
        @media (min-width: 768px) {
            flex-direction: column;
        }
    }

    &__list-headline {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #363636;
        padding-right: 20px;
        min-width: 200px;
        max-width: 230px;
        display: flex;
        align-items: center;
        padding-bottom: 5px;

        @media (min-width: 768px) {
            padding-bottom: 0;
        }
    }

    &__list-headline.max-width {
        max-width: 100%;
    }

    &__list-field {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #1A2828;
        border: 1px solid #8D9396;
        border-radius: 5px;
        padding: 10px 15px;
        width: 100%;
        resize: none;
        height: 42px;
    }

    &__list-field_textarea {
        height: auto;
        resize: none;
        max-height: 42px;
    }


    &__list-field::placeholder {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #1A2828;
    }

    &__list-wgt-btn {
        display: inline-block;

        &--input {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        &--input+label {
            // display: inline-flex;
            // align-items: center;
            user-select: none;
            display: inline-block;
            cursor: pointer;
            font-weight: 500;
            font-size: 14px;
            letter-spacing: 0.01em;
            color: #097B79;
            background: rgba(18, 211, 206, 0.1);
            border-radius: 15px;
            user-select: none;
            padding: 5px 20px;
            transition: all .5s;

            @media (min-width: 992px) {
                font-size: 16px;
                padding: 6px 30px;
            }
        }

        &--input:checked+label {
            background: #12D3CE;
            color: #fff;
        }
    }

    &__list-editing-btn {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        padding: 7px 15px;
        background: #12D3CE;
        border-radius: 15px;
        transition: all .3s;

        &:hover {
            background: #16b4af;
        }
    }

    &__list-desc {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #363636;

        &--link {
            font-weight: normal;
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #8D9396;
            transition: all .5s;

            &:hover {
                text-decoration: underline;
                color: #363636;
            }
        }
    }

    &__list-desc_theme_green {
        color: #12D3CE;
    }

    &__title {
        font-family: $Playfair;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.04em;
        color: #363636;
        padding-top: 20px;
        padding-bottom: 20px;

        @media (min-width: 992px) {
            font-size: 22px;
        }
    }

    &__filter {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 5px;
    }

    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #363636;
        margin-right: 15px;
    }

    &__filter-btn {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #097B79;
        background: rgba(18, 211, 206, 0.1);
        border-radius: 15px;
        padding: 5px 15px;
        margin-right: 15px;
        transition: all .5s;

        &:hover {
            color: #FFFFFF;
            background: #12D3CE;
        }
    }

    &__filter-btn.active {

        color: #FFFFFF !important;
        background: #12D3CE !important;
    }
}

.mask-search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;

    @media (min-width: 992px) {
        padding-bottom: 0;
        margin-right: 15px;
    }

    &__field {
        width: 100%;
        padding-bottom: 15px;

        @media (min-width: 992px) {
            width: 40%;
            padding-bottom: 0;
            margin-right: 15px;
        }
    }

    &__field-form {
        border-bottom: 1px solid rgba(151, 151, 151, 0.4);
        display: flex;
        align-items: center;
    }

    &__field-btn {
        background: transparent;
        padding: 5px;
        margin-right: 5px;

        &--icon {
            width: 18px;
            height: 18px;
        }
    }

    &__field-input {
        padding: 5px;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: #8D9396;
    }

    &__field-input::-webkit-input-placeholder {
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: #8D9396;
    }

    &__filter {}

    &__filter-btn {
        font-weight: normal;
        background: transparent;
        font-size: 14px;
        letter-spacing: 0.01em;
        color: #8D9396;
        transition: all .3s;

        &:hover {
            color: #A481DE;
        }

        &--icon {
            width: 20px;
            height: 20px;
        }
    }
}

.warning-status {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #363636;
    margin-top: 15px;

    &__icon {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }
}

.warning-message {
    box-shadow: 0px 0px 1px rgba(151, 151, 151, 0.37), 0px 1px 1px rgba(196, 196, 196, 0.25), 0px 0px 3px rgba(151, 151, 151, 0.27);
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 10px;

    &__headline {
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.01em;
        color: #E84917;
    }

    &__description {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #363636;

        &--link {
            font-weight: normal;
            font-size: 16px;
            line-height: 28px;
            letter-spacing: 0.01em;
            color: #12D3CE;
            transition: all .3s;

            &:hover {
                color: #16b4af;
            }
        }
    }
}

.share-modal-dialog {

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 615px;
    }
}

.share-modal {
    padding: 0;

    &__wgts {}

    &__wgt {
        padding: 10px 15px;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0px 0px 1px rgba(151, 151, 151, 0.37), 0px 1px 1px rgba(196, 196, 196, 0.25), 0px 0px 3px rgba(151, 151, 151, 0.27);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__photo {
        width: 15%;
        margin-right: 10px;
        line-height: 0;
    }

    &__photo-img {
        max-width: 100%;
        height: auto;
        border-radius: 15px;
    }

    &__content {
        padding-right: 10px;
    }

    &__content-name {
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.01em;
        color: #363636;

        @media (min-width: 768px) {
            font-size: 16px;
        }
    }

    &__content-descr {
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.01em;
        color: #363636;

        @media (min-width: 768px) {
            font-size: 16px;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        background: transparent;
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.01em;
        color: #8D9396;
        transition: all .3s;

        &:hover {
            color: #A481DE;
        }

        &--icon {
            width: 18px;
            height: 18px;
            margin-right: 10px;

            @media (min-width: 768px) {
                width: 24px;
                height: 24px;
                margin-right: 15px;
            }
        }

        @media (min-width: 768px) {
            font-size: 16px;
        }
    }
}