.section {
    padding-bottom: 30px;

    @media (min-width: 992px) {
        padding-bottom: 50px;
    }
}

.background-transparent {
    background: transparent;
}

.general-head {
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: 992px) {
        padding-bottom: 25px;
    }

    &__title {
        font-family: $Playfair;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.04em;
        color: #090909;
        padding-bottom: 10px;

        @media (min-width: 992px) {
            font-size: 22px;
            padding-bottom: 0;
        }
    }

    &__btn {
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.03em;
        color: #8D9396;
        display: flex;
        align-items: center;
        transition: all .5s;

        &:hover {
            text-decoration: none;
            color: #A481DE;
        }

        @media (min-width: 992px) {
            font-size: 16px;
        }
    }

    &__btn-icon {
        width: 18px;
        height: 18px;
        margin-right: 5px;

        @media (min-width: 992px) {
            margin-right: 15px;
        }
    }

}

.main-btn {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 5px 15px;
    background: #12D3CE;
    border-radius: 25px;
    transition: all .5s;

    &:hover {
        background: #16b4af;
        color: #fff;
    }
}

.section-border {
    border-bottom: 1px solid rgba(151, 151, 151, 0.4);
}

.general-modal {
    &__dialog {}

    &__content {
        border-top: 8px solid transparent;
        border-image: linear-gradient(to right, rgba(215, 200, 240, 1) 15.28%, #ADC6F6, #12D3CE 110%);
        border-image-slice: 1;
        border-right: none;
        border-left: none;
        border-bottom: none;
        border-radius: 0;
    }

    &__title {
        font-weight: 500;
        font-size: 22px;
        letter-spacing: 0.01em;
        color: #1A2828;
        text-align: center;
    }

    &__header {
        border: none;
        padding: 5px 10px;
    }

    &__body {
        padding-top: 0;
        padding-bottom: 0;
    }

    &__footer {
        border: none;
        padding: 35px 0;
        text-align: center;
    }

    &__footer-span {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.01em;
        color: #1A2828;
    }

    &__footer-wgt {
        &--link {
            font-weight: 600;
            font-size: 16px;
            letter-spacing: 0.01em;
            color: rgba(18, 211, 206, 1);
            margin-left: 5px;
            background: #fff;
            transition: all .3s;

            &:hover {
                color: #16b4af;
            }
        }
    }

}