.section {
    padding-bottom: 30px;

    @media (min-width: 992px) {
        padding-bottom: 50px;
    }
}

.general-head {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;

    @media (min-width: 992px) {
        padding-bottom: 25px;
    }

    &__title {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.04em;
        color: #090909;

        @media (min-width: 992px) {
            font-size: 22px;
        }
    }

    &__btn {
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.03em;
        color: #8D9396;
        display: flex;
        align-items: center;

        &:hover {
            text-decoration: none;
            color: #8D9396;
        }

        @media (min-width: 992px) {
            font-size: 16px;
        }
    }

    &__btn-icon {
        width: 18px;
        height: 18px;
        margin-right: 5px;

        @media (min-width: 992px) {
            margin-right: 15px;
        }
    }

}

.main-btn {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 5px 15px;
    background: #12D3CE;
    border-radius: 25px;

    &:hover {
        color: #FFFFFF;
    }
}