.header {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
    }
}

.header-logo {
    &__photo {
        width: 70px;
        height: 35px;

        @media (min-width: 992px) {
            width: 90px;
            height: 45px;
        }
    }
}

.header-nav {
    display: flex;
    align-items: center;

    &__phone {
        padding-right: 25px;

        @media (min-width: 992px) {
            padding-right: 70px;
        }
    }

    &__phone-link {
        font-weight: 300;
        font-size: 18px;
        letter-spacing: 0.01em;
        color: #1A2828;
        transition: all .5s;
        display: flex;
        align-items: center;

        &:hover {
            text-decoration: none;
            color: red;
        }

        &--icon {
            width: 24px;
            height: 24px;

            @media (min-width: 992px) {
                margin-right: 10px;
            }
        }

        &--num {
            display: none;

            @media (min-width: 992px) {
                display: block;
            }
        }
    }

    &__log {}

    &__log-btn {
        font-weight: 600;
        font-size: 22px;
        letter-spacing: 0.03em;
        color: #A481DE;
        transition: all .5s;

        &:hover {
            text-decoration: none;
            color: #A481DE;
        }
    }
}