.header {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
    }
}

.header-logo {
    &__photo {
        display: block;
        // width: 90px;
        height: 45px;

        @media (min-width: 992px) {
            // width: 110px;
            height: 65px;
        }
    }
}

.header-nav {
    display: flex;
    align-items: center;

    &__phone {
        padding-right: 25px;

        @media (min-width: 992px) {
            padding-right: 70px;
        }
    }

    &__phone-link {
        font-weight: 300;
        font-size: 18px;
        letter-spacing: 0.01em;
        color: #1A2828;
        transition: all .5s;
        display: flex;
        align-items: center;

        &:hover {
            text-decoration: none;
            color: #1A2828;
        }

        &--icon {
            width: 24px;
            height: 24px;

            @media (min-width: 992px) {
                margin-right: 10px;
            }
        }

        &--num {
            display: none;

            @media (min-width: 992px) {
                display: block;
            }
        }
    }

    &__log {}

    &__log-btn {
        font-weight: 600;
        font-size: 22px;
        letter-spacing: 0.03em;
        color: #A481DE;
        transition: all .5s;

        &:hover {
            text-decoration: none;
            color: #5d359c;
        }

        &--img {
            width: 55px;
            height: 55px;
            border-radius: 50%;
        }
    }

    &__log-btn_persone {}
}

.header-dropdown {
    &__menu {
        transform: translate3d(-115px, 28px, 0px) !important;

        @media (min-width: 992px) {
            transform: translate3d(-105px, 28px, 0px) !important;
        }
    }

    &__item {
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.01em;
        color: #363636;
        padding: 10px;
        transition: all .3s;

        @media (min-width: 992px) {
            font-size: 16px;
            padding: 20px;
        }

        &:hover {
            background: #12D3CE;
            color: #fff;
        }
    }
}