.mask-balance {
    margin-top: 20px;

    &__wgt {
        display: flex;
        padding: 15px;
        box-shadow: 0px 0px 1px rgba(151, 151, 151, 0.37), 0px 1px 1px rgba(196, 196, 196, 0.25), 0px 0px 3px rgba(151, 151, 151, 0.27);
        margin-top: 15px;
    }

    &__wgt-photo {
        width: 15%;
    }

    &__wgt-img {
        width: 100%;
    }

    &__wgt-desc {
        width: 85%;
        margin-left: 20px;
    }

    &__wgt-head {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;

        @media (min-width: 992px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__wgt-name {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #363636;
        padding-bottom: 5px;

        @media (min-width: 992px) {
            padding-bottom: 0;
        }
    }

    &__wgt-date {
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #363636;
    }

    &__wgt-body {
        display: flex;
        padding-bottom: 15px;
        flex-direction: column;

        @media (min-width: 992px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__wgt-type {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #363636;
        padding-right: 15px;
        padding-bottom: 10px;

        @media (min-width: 992px) {
            padding-bottom: 0;
        }

        &--desc {
            font-weight: normal;
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #363636;
        }
    }

    &__wgt-price {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.01em;
        color: #12D3CE;
    }

    &__wgt-foot {
        display: flex;
        justify-content: flex-end;
    }

    &__wgt-commission {
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.01em;
        color: #8D9396;

        &--price {
            font-weight: 500;
            font-size: 12px;
            letter-spacing: 0.01em;
            color: #1A2828
        }
    }
}