.single-services-item {
    border-bottom: 3px solid #F5F5F5;
    padding-bottom: 25px;
    margin-top: 20px;

    // &:last-child {
    //     border: none;
    // }

    &__headline {
        font-family: $Playfair;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 0.06em;
        color: #363636;
        padding-bottom: 20px;

        @media (min-width: 992px) {
            font-size: 32px;
        }
    }

    &__txt {
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.01em;
        color: #000000;


        @media (min-width: 992px) {
            font-size: 16px;
        }
    }
}

.single-services-foot {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-top: 25px;

    &__nav-btns {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media (min-width: 768px) {
            width: auto;
        }
    }

    &__nav-btn {
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.03em;
        color: #A481DE;
        transition: all .5s;

        &:first-child {
            margin-right: 50px;
        }

        &:hover {
            color: #391a6b;
        }
    }
}